<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FortKnox">
        <activity
            android:name=".activity.database.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.database.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".activity.database.BankCardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.database.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.login.CodeVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.login.PasscodeLoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.register.RegisterProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.start.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <queries>
        <!-- 1. Explicitly queried packages (for setPackage() + resolveActivity checks) -->

        <!-- Gmail app check (imgGmail) -->
        <package android:name="com.google.android.gm" />

        <!-- Telegram app check (imgTelegram) -->
        <package android:name="org.telegram.messenger" />

        <!-- Instagram app check (imgInstagram) -->
        <package android:name="com.instagram.android" />

        <!-- 2. General Intent queries (for implicit intents and fallbacks) -->

        <!-- For mailto: intents (used by imgGmail, if not restricted by setPackage) -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data android:scheme="mailto" />
        </intent>

        <!-- For general web links (used by imgGithub and browser fallbacks for Instagram/Telegram) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <!-- Ensures visibility of browsers for https/http links -->
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>

    </queries>

</manifest>